<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
        </encoder>
    </appender>
    <appender name="stdout_humanreadable" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %X{requestId} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <springProfile name="!humanReadableLog">
            <appender-ref ref="stdout_json"/>
        </springProfile>
        <springProfile name="humanReadableLog">
            <appender-ref ref="stdout_humanreadable"/>
        </springProfile>
    </root>
</configuration>
